.chat-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  .chat-box-header {
    padding: 10px;
    background-color: #d0cafd;
    border: 1px solid #8171fd;
    cursor: pointer;
  }
  .chat-box-body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 600px;
    overflow-y: auto;
    border-top: 1px solid black;
  }
  .chat-box-message {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

.alg-started {
    background-color: rgb(148, 250, 148);
    border: 3px solid rgb(18, 163, 18);
    font-size: large;
}

.alg-stage {
    background-color: rgb(167, 251, 167);
    border: 1px solid rgb(33, 162, 33);
    font-size: large;
}

.alg-ended {
    background-color: rgb(121, 229, 250);
    border: 3px solid rgb(43, 157, 180);
    font-size: large;
}

.added-node-edge {
    background-color: white;
    border: 1px solid black;
}

.alg-calculation {
    background-color: rgb(249, 203, 254);
    border: 1px solid black;
}

.added-performance {
    background-color: white;
    border: 1px solid black;
}