#cy {
    width: 80vw;
    height: calc(100vh - var(--navbar-height));
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}

#cyResult {
    width: 20vw;
    height: calc(100vh - var(--navbar-height));
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}

.grey-grid {
    background-color: #ffffff; /* Set the background color of the grid */
    border: 1px solid #cccccc; /* Add a border to the grid */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px; /* Adjust the gap size between grid lines */
    background-image: linear-gradient(#cccccc 1px, transparent 1px), linear-gradient(90deg, #cccccc 1px, transparent 1px); /* Create the grid lines */
    background-size: 30px 30px; /* Adjust the grid line size */
}

.hide-label {
    content: "";
}
#container {
    display: flex;
    height: calc(100vh - var(--navbar-height));
    overflow-x: hidden;
    overflow-y: hidden;
}

#cy, #cyResult {
    flex-grow: 1;
    border: 1px solid #ccc;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

#divider {
    flex-shrink: 0;
    width: 5px;
    cursor: col-resize;
    background-color: #ccc;
    overflow-x: hidden;
    overflow-y: hidden;
}