.custom-navbar-padding-left {
    margin-left: 0.5rem;
}

.custom-navbar-padding-right {
    padding-right: 0.5rem;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item .form-control {
    max-width: 150px;
}

.var-k {
    max-width: 100px !important;
}

.custom-navbar-margin-right {
    margin-right: 5px
}

.custom-navbar-background-color {
    background-color: #ebebeb;
}

.custom-navbar-background-color2 {
    background-color: #ffffff;
}

.custom-btn {
    border: 1px solid #000000;
    color: #ff0000;
    background-color: #b1a9ff;
    border-radius: 5px;
}

.custom-btn:hover {
    background-color: #beb6ff;
}

.no-select {
    user-select: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #000; 
}

.pre-defined-graphs-dropdown {
    flex-direction: column;
    max-height: 700px;
    overflow-y: auto;
    width: 500px;
    overflow-x: hidden;

}

.dropdown-menu .row {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.dropdown-menu .col {
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #cc93fd; /* Change the background color on hover */
}
